{% extends 'base.html.twig' %}

{% block body %}
    <h1>Anuncio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ anuncio.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ anuncio.titulo }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ anuncio.descricao }}</td>
            </tr>
            <tr>
                <th>Datacriacao</th>
                <td>{% if anuncio.datacriacao %}{{ anuncio.datacriacao|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tempo</th>
                <td>{{ anuncio.tempo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('anuncio_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('anuncio_edit', { 'id': anuncio.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
